/* div{
    height: 100px;
    width: 100px;
    color: blue;
    background-color: azure;
    border: solid black;
} */


.dark {
    background-color: black;
    color: white;

}

.light{
    background-color:white;
    color: black;


}